<div class="app-content-body ">


    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Create Role</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="javascript:history.back(-1)"><i class="fa fa-mail-reply-all"></i> 返回 </a></li>
                        </ul>
                        <i class="fa fa-cube"></i> 创建角色信息
                    </div>
                    <div class="panel-body">
                        <form method="post" class="bs-example form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-2 control-label">角色名称</label>
                                <div class="col-lg-8">
                                    <input type="text" name="name" class="form-control" value="" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">备注信息</label>
                                <div class="col-lg-8">
                                    <input type="text" name="remark" class="form-control" value="" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否启用</label>
                                <div class="col-sm-8">
                                    <label class="i-switch bg-info m-t-xs m-r">
                                        <input type="checkbox" name="status" value="1" checked>
                                        <i></i>
                                    </label>
                                </div>
                            </div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="btn btn-info">确认创建</button>
                                    <a class="btn btn-default" onclick="javascript:history.back(-1)">取消创建</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>