<div class="app-content-body ">


    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">App Modify</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="javascript:history.back(-1)"><i class="fa fa-mail-reply-all"></i> 返回 </a></li>
                        </ul>
                        <i class="fa fa-cube"></i> 应用编辑
                    </div>
                    <div class="panel-body">
                        <form data-pjax method="post"  class="bs-example form-horizontal" action="/app/modify">
                            <input type="hidden" name="id" value="{{app['id']}}">

                            <div class="form-group">
                                <label class="col-lg-2 control-label">应用名称</label>
                                <div class="col-lg-8">
                                    <input type="text" name="name" class="form-control" value="{{app['name']}}" placeholder="" required>
                                    <!--<span class="help-block m-b-none"></span>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">英文名称</label>
                                <div class="col-lg-8">
                                    <input type="text" name="en_name" class="form-control" value="{{app['en_name']}}" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">App ID</label>
                                <div class="col-lg-8">
                                    <input type="text" name="app_id" class=" form-control bg-light" value="{{app['app_id']}}" placeholer="" disabled="true" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">语言版本</label>
                                <div class="col-lg-8">
                                    <input type="text" name="version" class="form-control" value="{{app['version']}}" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">应用域名</label>
                                <div class="col-lg-8">
                                    <input type="text" name="domain" class="form-control" value="{{app['domain']}}" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否开启</label>
                                <div class="col-sm-8">
                                    <label class="i-switch bg-info m-t-xs m-r">
                                        <input type="checkbox" name="status" value="1" {%if app['status']==1%}checked{%endif%}>
                                        <i></i>
                                    </label>
                                </div>
                            </div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="btn btn-info">确认修改</button>
                                    <a type="submit" class="btn btn-default" onclick="javascript:history.back(-1)">取消修改</a>

                                    <a href="/app/remove?id={{app['id']}}" class="btn btn-danger pull-right" onclick="return confirm('确认删除?')">
                                        <i class="fa fa-trash-o text"></i><span class="text">删除</span>
                                    </a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>