<div class="app-content-body ">


    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Change Password</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="javascript:history.back(-1)"><i class="fa fa-mail-reply-all"></i> 返回 </a></li>
                        </ul>
                        <i class="fa fa-cube"></i> 更改账号密码
                    </div>

                    <div class="panel-body">
                        <form method="post" class="bs-example form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">形象</label>
                                <div class="col-lg-8">
                                    <img src="{{avater}}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">账号ID</label>
                                <div class="col-lg-8">
                                    <p class="form-control-static">{{user['name']}}&nbsp;&nbsp;{{user['username']}}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">原始密码</label>
                                <div class="col-lg-8">
                                    <input type="password" name="pwd" class="form-control" value="" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">新的密码</label>
                                <div class="col-lg-8">
                                    <input type="password" name="password" class="form-control" value="" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">确认密码</label>
                                <div class="col-lg-8">
                                    <input type="password" name="re_password" class="form-control" value="" placeholder="" required>
                                    <p class="m-b">
                                        <code>*</code>最少6位.<br>
                                        <code>*</code>字母数字组合.<br>
                                    </p>
                                </div>
                            </div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="btn btn-info">确认更改</button>
                                    <button type="submit" class="btn btn-default" onclick="javascript:history.back(-1)">取消更改</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>